.contact-title {
    font-size: 10em;
    color: #2D2D2D;
    text-align: center;
}

.two-cols-container {
    display: flex;
    align-items: center;
    margin: 1em;
    width: 95%;
}

.yap-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.contact-form{
    display: flex;
    flex-direction: column;
    /* margin-top: 20px; */
    padding: 50px;
    width: 50%;
    border-left: 2px solid #2D2D2D;
}

label{
    font-size: 1.5em;
    margin: 10px 0;
}

input, textarea{
    font-size: 1.5em;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 50%;
}

textarea{
    width: 100%;
}

.submit-btn{
    font-size: 1.5em;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #2D2D2D;
    color: white;
    cursor: pointer;
}

.adrs-icon, .email-icon, .phone-icon, .whatsapp-icon{
    width: 25px;
    height: 25px;
}

.yap-container-for-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 80px;
    margin-left: 150px;
}

.whatsapp-btn{
    background-color: #2D2D2D;
    color: white;
    font-size: 1.1em;
    padding: 10px 20px;
    border-radius: 5px;
}

p{
    font-size: 1.1em;
}

.map-title{
    font-size: 5em;
    color: #2D2D2D;
    text-align: center;
    margin: 10px;
}

.div-line{
    border-top: 2px solid #2D2D2D;
    border-bottom: 2px solid #2D2D2D;
}

main{
    animation: 1s fadeIn;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .contact-title {
        font-size: 5em;
    }
    .two-cols-container {
        flex-direction: column;
        align-items: center;
    }
    .yap-container {
        width: 100%;
    }
    .contact-form {
        width: 100%;
        border-left: none;
        border-top: 2px solid #2D2D2D;
    }
    .yap-container-for-grid{
        grid-template-columns: repeat(1, 1fr);
        margin-left: 0px;
    }
}
@media (max-width: 480px) {
    .contact-title {
        font-size: 3em;
    }
    .contact-form {
        padding: 20px;
    }
    input, textarea{
        width: 100%;
    }
}
